# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.opensdf


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Database
*.pdb
*.db
*.opendb